@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Real Estate Inc</h1>
    <p>Here you can use our price predicting tool to estimate the price of houses</p>
</div>
